@import "normalize.css";

$color1: rgba(255, 255, 255, 1);
$color2: rgba(50, 98, 115, 1);
$color3: rgba(238, 238, 238, 1);
$color4: rgba(92, 164, 169, 1);
$color5: rgba(227, 151, 116, 1);

* {
    font-family: -apple-system, sans-serif;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
