{% extends "layout.html" %}
{% block content %}

{% set remaining = (accounts_total - envelopes_total - goals_total) / remaining_seconds %}
{% set deg_value = 1.0 - ((78.0 - remaining) / 20.0)  %}
{% set deg = 90 * deg_value %}

<div class="flex justify-center">
  <div class="w-64">
  <div class="bg-blue-400 aspect-[2] rounded-t-full relative flex items-center justify-center overflow-hidden">
    <div class="absolute top-0 aspect-square w-full bg-gradient-to-tr from-transparent from-50% to-white to-50%" style="transform: rotate({{deg}}deg)"></div>
  </div>
  </div>
</div>

<div class="flex flex-col pt-10">
  <div class="flex justify-around">
    <div>Remaining: {{ accounts_total - envelopes_total - goals_total | round(precision=2) }} </div>
    <div>Remaining days: {{ remaining_seconds }}</div>
    <div>Remaing per day: {{ (accounts_total - envelopes_total - goals_total) / remaining_seconds | round(precision=2) }}</div>
  </div>

  <div class="flex justify-around">
    <div>Goals total: {{ goals_total}} </div>
    <div>Goals: {{ goals_accumulated }}</div>
  </div>
</div>

{% endblock content %}
