<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if section %}{{ section }} ·{% endif %}
        Simple Budget</title>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width,minimum-scale=1,initial-scale=1" />
        {% if csrf %}<meta name="csrf-token" content="{{ csrf }}" />{% endif %}
        <!--
  JSPM Generator Import Map
  Edit URL: https://generator.jspm.io/#Y2NlYGBiTs4vqkwqTU3OTi1icMjILynPLEpN0S8uycwtzSktdjDWM9IzQpIoKS1Kynew0DPQMzQAAAY739xBAA
-->
        <script type="importmap">
{
  "imports": {
    "@hotwired/stimulus": "https://ga.jspm.io/npm:@hotwired/stimulus@3.2.2/dist/stimulus.js",
    "@hotwired/turbo": "https://ga.jspm.io/npm:@hotwired/turbo@8.0.10/dist/turbo.es2017-esm.js",
    "controllers/": "/assets/controllers/"
  },
  "integrity": {
    "https://ga.jspm.io/npm:@hotwired/stimulus@3.2.2/dist/stimulus.js": "sha384-NStGXzUH4pFNGrLRkzXYz7zzDn8S6MvFPwfKSuYf6TlX25BrNVP4oCN2S04XUuOI",
    "https://ga.jspm.io/npm:@hotwired/turbo@8.0.10/dist/turbo.es2017-esm.js": "sha384-0LLlYqg+/w0wyCVRH16/KfeaBg5h3BvCn9tWurseyuiV8+08ZZcVALRIG8Ug2mOa"
  }
}
        </script>
        <!-- ES Module Shims import maps polyfills -->
        <script async
                src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js"
                integrity="sha384-ie1x72Xck445i0j4SlNJ5W5iGeL3Dpa0zD48MZopgWsjNB/lt60SuG1iduZGNnJn"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href={{ digest_asset(file="app.css") }}>
    </head>
    <body class="@container">
        <div class="@lg:h-auto @sm:h-svh flex flex-col @lg:justify-start @sm:justify-between">
            <nav class="@sm:hidden @lg:flex flex-row gap-8 mt-4 justify-center items-center">
                <a class="px-4 py-2 {% if section and section == "Reports" %}bg-slate-600 rounded-md text-white font-semibold{% endif %}"
                   href="/">Reports</a>
                <a class="px-4 py-2 {% if section and section == "Accounts" %}bg-slate-600 rounded-md text-white font-semibold{% endif %}"
                   href="/accounts">Accounts</a>
                <a class="px-4 py-2 {% if section and section == "Envelopes" %}bg-slate-600 rounded-md text-white font-semibold{% endif %}"
                   href="/envelopes">Envelopes</a>
                <a class="px-4 py-2 {% if section and section == "Goals" %}bg-slate-600 rounded-md text-white font-semibold{% endif %}"
                   href="/goals">Goals</a>
                <a class="px-4 py-2 {% if section and section == "Preferences" %}bg-slate-600 rounded-md text-white font-semibold{% endif %}"
                   href="/preferences">Preferences</a>
            </nav>
            <main class="@lg:overflow-y-auto @lg:pb-0 @sm:overflow-y-scroll @sm:pb-1">
                {% block content %}
                {% endblock content %}
            </main>
            <nav class="@sm:block @lg:hidden px-2 pt-[1rem]"
                 style="padding-bottom: calc(env(safe-area-inset-bottom, 0) + 1rem)">
                <div class="flex px-2 justify-between content-center">
                    <a class="flex flex-col items-center" href="/">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="size-5">
                                <path d="M15.5 2A1.5 1.5 0 0 0 14 3.5v13a1.5 1.5 0 0 0 1.5 1.5h1a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 16.5 2h-1ZM9.5 6A1.5 1.5 0 0 0 8 7.5v9A1.5 1.5 0 0 0 9.5 18h1a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 10.5 6h-1ZM3.5 10A1.5 1.5 0 0 0 2 11.5v5A1.5 1.5 0 0 0 3.5 18h1A1.5 1.5 0 0 0 6 16.5v-5A1.5 1.5 0 0 0 4.5 10h-1Z" />
                            </svg>
                        </span><span class="{% if section and section == "Reports" %}underline underline-offset-4 {% endif %}text-sm text-slate-600">Reports</span></a>
                        <a class="flex flex-col items-center" href="/accounts"><span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="size-5">
                                <path fill-rule="evenodd" d="M9.674 2.075a.75.75 0 0 1 .652 0l7.25 3.5A.75.75 0 0 1 17 6.957V16.5h.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H3V6.957a.75.75 0 0 1-.576-1.382l7.25-3.5ZM11 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM7.5 9.75a.75.75 0 0 0-1.5 0v5.5a.75.75 0 0 0 1.5 0v-5.5Zm3.25 0a.75.75 0 0 0-1.5 0v5.5a.75.75 0 0 0 1.5 0v-5.5Zm3.25 0a.75.75 0 0 0-1.5 0v5.5a.75.75 0 0 0 1.5 0v-5.5Z" clip-rule="evenodd" />
                            </svg>
                        </span><span class="{% if section and section == "Accounts" %}underline underline-offset-4 {% endif %}text-sm text-slate-600">Accounts</span></a>
                        <a class="flex flex-col items-center" href="/envelopes"><span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="size-5">
                                <path d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z" />
                                <path d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z" />
                            </svg>
                        </span><span class="{% if section and section == "Envelopes" %}underline underline-offset-4 {% endif %}text-sm text-slate-600">Envelopes</span></a>
                        <a class="flex flex-col items-center" href="/goals"><span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor"
                                 class="size-5">
                                <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" clip-rule="evenodd" />
                            </svg>
                        </span>
                        <span class="{% if section and section == "Goals" %}underline underline-offset-4 {% endif %}text-sm text-slate-600 ">Goals</span>
                    </a>
                    <a class="flex items-center" href="/preferences">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             class="size-5">
                            <path fill-rule="evenodd" d="M8.34 1.804A1 1 0 0 1 9.32 1h1.36a1 1 0 0 1 .98.804l.295 1.473c.497.144.971.342 1.416.587l1.25-.834a1 1 0 0 1 1.262.125l.962.962a1 1 0 0 1 .125 1.262l-.834 1.25c.245.445.443.919.587 1.416l1.473.294a1 1 0 0 1 .804.98v1.361a1 1 0 0 1-.804.98l-1.473.295a6.95 6.95 0 0 1-.587 1.416l.834 1.25a1 1 0 0 1-.125 1.262l-.962.962a1 1 0 0 1-1.262.125l-1.25-.834a6.953 6.953 0 0 1-1.416.587l-.294 1.473a1 1 0 0 1-.98.804H9.32a1 1 0 0 1-.98-.804l-.295-1.473a6.957 6.957 0 0 1-1.416-.587l-1.25.834a1 1 0 0 1-1.262-.125l-.962-.962a1 1 0 0 1-.125-1.262l.834-1.25a6.957 6.957 0 0 1-.587-1.416l-1.473-.294A1 1 0 0 1 1 10.68V9.32a1 1 0 0 1 .804-.98l1.473-.295c.144-.497.342-.971.587-1.416l-.834-1.25a1 1 0 0 1 .125-1.262l.962-.962A1 1 0 0 1 5.38 3.03l1.25.834a6.957 6.957 0 0 1 1.416-.587l.294-1.473ZM13 10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </nav>
        </div>
        <script type="module">
          import * as Turbo from "@hotwired/turbo"
          import { Application, Controller } from "@hotwired/stimulus"
          import FormatterController from "controllers/formatter_controller.js"
          import ModalController from "controllers/modal_controller.js"
          
          window.Stimulus = Application.start()
          Stimulus.register("modal", ModalController)
          Stimulus.register("formatter", FormatterController)
        </script>
        <!-- <turbo-stream-source src="ws://localhost:8000/ws" signed-stream-name="test" /> -->
        <turbo-frame data-controller="modal" class="absolute w-full top-0" id="confirmation-modal"></turbo-frame>
    </body>
</html>
