{% extends "layout.html" %}
{% block content %}
    <div class="flex pb-2 justify-center mt-8">
        <div class="flex flex-row gap-4 justify-between shadow-md p-6 pb-2 w-full @xl:w-4/12 @sm:mx-2">
            <h1 class="basis-1/4 @sm:basis-1/3">
                <span class="font-semibold">Accounts</span>
                {% if account %}
                    <br>
                    <span class="text-slate-500">{{ account.name }}</span>
                {% endif %}
            </h1>
            <div class="grow">
                <div id="errors"></div>
                {% block formtag %}
                {% endblock formtag %}
                <div class="flex flex-col">
                    <label for="name">Name</label>
                    <input id="name"
                           name="name"
                           required
                           type="text"
                           value="{% if account %}{{ account.name }}{% endif %}" />
                </div>
                <div data-controller="currency-input"
                     class="flex flex-col"
                     data-currency-input-precision-value="2">
                    <label for="amount">Amount</label>
                    <input data-currency-input-target="input"
                           name="amount"
                           pattern="\d*"
                           required
                           type="number"
                           data-action="currency-input#change"
                           value="{% if account %}{{ account.amount }}{% endif %}" />
                    <div data-currency-input-target="output" /></div>
                <div class="flex flex-row gap-2 items-center">
                    <input id="debt"
                           name="debt"
                           type="checkbox"
                           {% if account and account.debt %}{{ "checked" }}{% endif %}
                           value="true" />
                    <label for="debt">Debt</label>
                </div>
                <div class="flex justify-end items-center gap-4">
                    <a href="/accounts">Cancel</a>
                    <input class="disabled:opacity-75 cursor-pointer bg-blue-500 disabled:hover:bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                           type="submit"
                           value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
