<turbo-stream action="update" target="goals-{{ id }}">
  <template>
    {% if errors %}
    <div>{{errors}}</div>
    {% endif %}
    <div>
        <label for="name">Name</label>
        <input name="name" type="text" required value="{% if name %}{{ name }}{% endif %}" />
    </div>
    <div>
        <label for="target">Target</label>
        <input name="target" required type="number" value="{% if target %}{{ target }}{% endif %}" />
    </div>
    <div>
        <label for="target_date">Target date</label>
        <input name="target_date" required type="date" value="{% if target_date %}{{ target_date }}{% endif %}" />
    </div>
    <div>
        <label for="recurrence">Recurrence</label>
        <select name="recurrence" required>
            <option value="never" {% if recurrence and recurrence=="never" %}{{ "selected" }}{% endif %}>Never</option>
            <option value="daily" {% if recurrence and recurrence=="daily" %}{{ "selected" }}{% endif %}>Daily</option>
            <option value="weekly" {% if recurrence and recurrence=="weekly" %}{{ "selected" }}{% endif %}>Weekly
            </option>
            <option value="monthly" {% if recurrence and recurrence=="monthly" %}{{ "selected" }}{% endif %}>Monthly
            </option>
            <option value="quarterly" {% if recurrence and recurrence=="quarterly" %}{{ "selected" }}{% endif %}>
                Quarterly</option>
            <option value="yearly" {% if recurrence and recurrence=="yearly" %}{{ "selected" }}{% endif %}>Yearly
            </option>
        </select>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
  </template>
</turbo-stream>
