apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-budget
  namespace: simple-budget
  labels:
    app: simple-budget
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-budget
  template:
    metadata:
      labels:
        app: simple-budget
    spec:
      containers:
        - name: simple-budget
          image: simple-budget
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 8000
          envFrom:
            - secretRef:
                name: simple-budget
          resources:
            limits:
              memory: 128M
              cpu: 100m
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 8000
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: 8000
            periodSeconds: 10
