apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: simple-budget
    newName: ghcr.io/corybuecker/simple-budget
    digest: sha256:2da209e2cc4664cbb5d98e832228e9ef3c94c0709dcd300e9db72d8d652ebaa4

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml

secretGenerator:
  - name: simple-budget
    namespace: simple-budget
    envs:
      - .env
