apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

images:
  - name: simple-budget
    newName: projects.corybuecker.com/corybuecker/simple-budget
    digest: sha256:2300fad48080dd115e52273962cc33f28a64d8e93427f2ec1c59947e50c13c90

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml

secretGenerator:
  - name: simple-budget
    namespace: simple-budget
    envs:
      - .env
