{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "comments": true,
  "plugins": ["transform-class-properties", "syntax-dynamic-import"]
}
