<div class="grid grid-cols-2 justify-evenly gap-8 mt-8">
    <div class="flex flex-col items-center">
        <div class="text-2xl"
             data-controller="formatter"
             data-formatter-currency-value="{{ per_diem }}"
             data-formatter-currency-precision-value="3"></div>
        <div class="text-sm text-slate-600">Per day</div>
    </div>
    <div class="flex flex-col items-center">
        <div class="text-2xl"
             data-controller="formatter"
             data-formatter-currency-value="{{ per_diem_forecast }}"
             data-formatter-currency-precision-value="3"></div>
        <div class="text-sm text-slate-600">
            <form method="PUT" action="/preferences">
                <input name="forecast_offset" type="hidden" value="{{ forecast_offset }}">
                <button type="submit" value="" class="flex gap-1">
                    Per day (+{{ forecast_offset }})
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         class="stroke-2 stroke-current size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <div data-controller="formatter"
             data-formatter-currency-value="{{ goals_accumulated_per_day }}"
             data-formatter-currency-precision-value="3"
             class="text-2xl"></div>
        <div class="text-sm text-slate-600">Goals per day</div>
    </div>
    <div class="flex flex-col items-center">
        <div class="text-2xl"
             data-controller="formatter"
             data-formatter-currency-value="{{ remaining_total }}"></div>
        <div class="text-sm text-slate-600">Remaining</div>
    </div>
    <div class="flex flex-col items-center">
        <div class="text-2xl">{{ remaining_days }}</div>
        <div class="text-sm text-slate-600">Remaining days</div>
    </div>
    <div class="flex flex-col items-center">
        <div class="text-2xl">{{ remaining_minutes }}</div>
        <div class="text-sm text-slate-600">Minutes until today +{{ forecast_offset }}</div>
    </div>
</div>
