{% extends "layout.html" %}
{% block content %}
<p>Accounts</p>
<form method="put" action="/accounts/{{ id }}">
    {% if errors %}
    <p>{{errors}}</p>
    {% endif %}
    <input name="name" required value="{% if name %}{{ name }}{% endif %}" />
    <input name="amount" required type="number" value="{% if amount %}{{ amount }}{% endif %}" />
    <input name="debt" type="checkbox" {% if debt %}{{ "checked" }}{% endif %} value="true" />
    <input type="submit">Save</input>
</form>
{% endblock content %}