<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <meta name="google-signin-client_id" content="77675101516-vhivh2hl3b52h8906hmuvs47fd1vbhup.apps.googleusercontent.com">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link "Simple Budget", to: "/home", class: "navbar-brand" %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link "Accounts", to: "/accounts", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link "Goals", to: "/goals", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link "Savings", to: "/savings", class: "nav-link" %>
        </li>
      </ul>
    </header>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap"></div>
      <main role="main" id="main">
        <%=render @view_module, @view_template, assigns %>
      </main>
    </div>    
  </body>
</html>
