{% extends "layout.html" %}
{% block content %}
    <div class="pb-2 flex justify-center mt-8">
        <div class="flex flex-row gap-4 justify-between shadow-md p-6 pb-2 w-full @xl:w-4/12 @sm:mx-2">
            <h1 class="basis-1/4 @sm:basis-1/3">
                <span class="font-semibold">Goals</span>
                {% if name %}
                    <br>
                    <span class="text-slate-500">{{ name }}</span>
                {% endif %}
            </h1>
            <div class="grow">
                <div id="errors"></div>
                {% block formtag %}
                {% endblock formtag %}
                <div class="flex flex-col">
                    <label for="name">Name</label>
                    <input id="name"
                           name="name"
                           type="text"
                           required
                           value="{% if name %}{{ name }}{% endif %}" />
                </div>
                <div data-controller="currency-input"
                     class="flex flex-col"
                     data-currency-input-precision-value="2">
                    <label for="target">Target</label>
                    <input data-currency-input-target="input"
                           name="target"
                           pattern="\d*"
                           required
                           type="number"
                           data-action="currency-input#change"
                           value="{% if target %}{{ target }}{% endif %}" />
                    <div data-currency-input-target="output" /></div>
                <div class="flex flex-col">
                    <label for="target_date">Target date</label>
                    <input id="target_date"
                           name="target_date"
                           required
                           type="date"
                           value="{% if target_date %}{{ target_date }}{% endif %}" />
                </div>
                <div class="flex flex-col">
                    <label for="recurrence">Recurrence</label>
                    <select id="recurrence" name="recurrence" required>
                        <option value="never"
                                {% if recurrence and recurrence=="Never" %}{{ "selected" }}{% endif %}>Never
                        </option>
                        <option value="daily"
                                {% if recurrence and recurrence=="Daily" %}{{ "selected" }}{% endif %}>Daily
                        </option>
                        <option value="weekly"
                                {% if recurrence and recurrence=="Weekly" %}{{ "selected" }}{% endif %}>Weekly
                        </option>
                        <option value="monthly"
                                {% if recurrence and recurrence=="Monthly" %}{{ "selected" }}{% endif %}>Monthly
                        </option>
                        <option value="quarterly"
                                {% if recurrence and recurrence=="Quarterly" %}{{ "selected" }}{% endif %}>
                            Quarterly
                        </option>
                        <option value="yearly"
                                {% if recurrence and recurrence=="Yearly" %}{{ "selected" }}{% endif %}>Yearly
                        </option>
                    </select>
                </div>
                <div class="flex justify-end items-center gap-4">
                    <a href="/goals">Cancel</a>
                    <input class="disabled:opacity-75 cursor-pointer bg-blue-500 disabled:hover:bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                           type="submit"
                           value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
