<turbo-stream action="update" target="envelope-{{ id }}">
  <template>
    {% if errors %}
    <div>{{errors}}</div>
    {% endif %}
    <div>
        <label for="name">Name</label>
        <input name="name" type="text" required value="{% if name %}{{ name }}{% endif %}" />
    </div>
    <div>
        <label for="amount">Amount</label>
        <input name="amount" required type="number" value="{% if amount %}{{ amount }}{% endif %}" />
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
  </template>
</turbo-stream>
